# Allowlisting gitignore for Go.

# ignore everything
*

# not these files though...
!/.gitignore
!install.sh
!*.go
!go.sum
!go.mod
!.goreleaser.yaml
!README.md
!LICENSE

# event if they are in subdirectories
!*/

dist/
